

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.glyphicon-book{
	font-size: 2.5rem;
}


.glyphicon-star{
	font-size: 2.5rem;
}

.glyphicon-wrench{
	font-size: 2.5rem;
}












