/* line 5, ../scss/partials/_header.scss */
#header nav {
  float: right; }
  /* line 8, ../scss/partials/_header.scss */
  #header nav li {
    float: left; }

/* line 5, ../scss/pages/_home-page.scss */
#home-page h1 {
  color: #FF0000; }

/* line 11, ../scss/pages/_home-page.scss */
#home-page h1 {
  color: blue; }
