// Header SCSS

header {
	background-color:$primary-color;
    h1{
    	margin-left: 25%;
    	color: black;
    }
    ul{
    	list-style-type: none;
	    padding: 0;
	    overflow: hidden;
	    margin-left: 50%;

		li{
			float: left;
			a{
			display: inline-block;
			color: black;
			padding: 10px;
			text-decoration: none;
			}
			a:hover{
				color: $accent-color;
			}
		}// end LI

	}// end UL

}// header

