// Home Page SCSS

@mixin margin-left-and-bottom($pixel-number){
	margin-left: $pixel-number;
	margin-bottom: $pixel-number;
}

.wrapper{
	font-family: $font-stack;
	.myBackgroundImage{
		
		overflow: hidden;
		img{
			z-index: -1;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			opacity: 0.6;
		}
	}
	.home-page{
		background-color: white;
		margin-left: 25%;
		width: 980px;
		height: 1100px;
		.banner-image{
			align-content: center;
			width: 940px;
			height: 240px;
			border: 1px solid $primary-color;
		}
		h2{
			@include margin-left-and-bottom(20px);
		}
		p{
			@extend h2;
			padding-right: 20px;
		}
		.far-right-thumb{
			margin-left: 30px;
		}
		img{
			width: $pixel-width-thumbnails;
			height: $pixel-width-thumbnails;
			border: 1px solid $secondary-color;
			margin: 15px;
		}
		h3{
			padding-bottom: 5px;
		}
		.float-left-p{
			width: 470px;
			float: left;
			h3{
				margin-left: 20px;
				text-align: left;
			}
			p{
				@extend h3;
			}
		}//end float left	
		
		.float-right-p{ 
			margin-left: 490px;
			width: 490px - 20px;
			h3{
				margin-left: 20px;
				text-align: left;
			}
			p{
				@extend h3;
				padding-bottom: 20px;
			}
		}//end float roght	
		ul{
			margin-left: 25%;
			list-style: none;

			li{
				float: left;
    			margin: 10px;

    			a{
    			display: block;
    			color: black;
    			padding: 32px - 16px;
    			text-decoration: none;
    			}
    			a:hover{
    				color: $accent-color;
    			}
			}// end LI

		}// end UL

	}//end home-page

}//end wrapper

